<?php if ($this->previewMode): ?>

    <div class="form-control">
        <?= $value ?>
    </div>

<?php else: ?>

    <select
        id="<?= $this->getId('input') ?>"
        name="<?= $name ?>[]"
        class="form-control select2"
		multiple="multiple">

		<?php foreach($tags as $id => $name) : ?>
			<?php $selected = (is_array($value) && in_array($id, $value)) ? ' selected="selected"' : '' ?>
			<option<?php echo $selected; ?> value="<?php echo $id; ?>"><?php echo $name; ?></option>
		<?php endforeach; ?>

	</select>

<?php endif ?>
